@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header{
  width:100%;
  height:100px;
  background-color:#dcdcdc;
}

a:hover{
  text-decoration:none;
}
.welcome-customer {
  margin-top: 40px;
}
.store-name {
  text-decoration: none;
  color: #181717;
  font-size: 40px;
  line-height: 100px;
}

.header-link{
  line-height: 100px;
  position:absolute;
  right:20px;
}
//top
.top-visual{
  position: relative;
  &_content{
    position: absolute;
    color: #636262;
    font-weight: bold; 
    font-size: 2em;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }
  &_image{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.5;
  }
}
//about
.main-visual_image{
  img{
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
}
//footer
footer {
  background-color: #dcdcdc;
}

.footer-text {
  color: #636262;
}