<table class="table table-bordered">
  <tr>
    <th class="table-secondary">送料</th>
    <td><%= order.postage.floor.to_s(:delimited) %></td>
  </tr>
  <tr>
    <th class="table-secondary">商品合計</th>
    <td><%= order.total_payment.floor.to_s(:delimited) %></td>
  </tr>
  <tr>
    <th class="table-secondary">請求金額</th>
    <td><%= (order.postage + order.total_payment).floor.to_s(:delimited) %></td>
  </tr>
</table>