<table class="table table-bordered">
  <tr>
    <th class="table-secondary">送料</th>
    <td><%= order.postage.to_s(:delimited) %> 円</td>
  </tr>
  <tr>
    <th class="table-secondary">商品合計</th>
    <td><%= total.to_s(:delimited) %> 円</td>
  </tr>
  <tr>
    <th class="table-secondary">請求金額</th>
    <td><%= order.total_payment.to_s(:delimited) %> 円</td>
  </tr>
</table>