<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center", style="margin: 200px auto">ご注文ありがとうございました！！</h2>
      <div class="text-center mb-5"><%= link_to "トップページに戻る", root_path %></div>
    </div>
  </div>
</div>