<section id="access">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center my-5">
        <h2 class="section_title text-center access mb-5">ACCESS</h2>
        <p>JR京天線氏の北宮谷駅より徒歩3分、店舗に隣接した駐車場があります。</p>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.518557352687!2d135.4989164!3d34.666859699999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e7bab6a8480d%3A0x6d6a8c333a31ec0f!2zRE1NIFdFQkNBTVAg6Zuj5rOi44OV44Ot44Oz44OI44OT44Or5qCh77yI6Lui6IG35Z6L44OX44Ot44Kw44Op44Of44Oz44Kw44K544Kv44O844Or77yJ!5e0!3m2!1sja!2sjp!4v1655694743734!5m2!1sja!2sjp"
    width="800" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>


<div class='container py-3'>

  <div class='row'>

    <div class='col-12'>

      <div class="text-center my-2">

        <%= link_to "https://www.twitter.com/", target: :_blank, rel: "noopener noreferrer" do %>

          <i class="fab fa-twitter fa-2x mr-1 footer-text"></i>

        <% end %>
        <%= link_to "https://www.instagram.com/", target: :_blank, rel: "noopener noreferrer" do %>

          <i class="fab fa-instagram fa-2x mr-1 footer-text"></i>

        <% end %>
      </div>
      <div class="text-center footer-text">
        <div class='copyright'>

          <p>Copyright © 2022.NaganoCAKE</p>

        </div>

      </div>

    </div>

  </div>

</div>

